%header
  %h1.aa.shadowtext
    %span.phrase
      %span.word
        %span M
        %span i
        %span k
        %span e
        %span '
        %span s
        %span &nbsp;
      %span.word
        %span s
        %span t
        %span u
        %span p
        %span i
        %span d
        %span &nbsp;
      %span.word
        %span i
        %span n
        %span t
        %span e
        %span r
        %span n
        %span e
        %span t
        %span &nbsp;
      %span.word
        %span p
        %span a
        %span g
        %span e
        %span &nbsp;

#stuff
  %section#about
    %footer.shadowbox
      #contact
        %h2 Contact
        %ul
          %li
            =link_to "Résumé", "/resume"
          %li
            = link_to "mikeferchak at google mail dot com", 'mailto:mikeferchak_spam@gmail.com'
          %li
            = link_to 'my awesome website', '.'
      #code
        %h2 Code
        %ul
          %li
            = link_to 'github.com/mikeferchak', "http://github.com/mikeferchak"
      #creep
        %h2 Creep
        %ul
          %li
            = link_to 'twitter.com/mikeferchak', 'http://twitter.com/mikeferchak'
          %li
            = link_to 'facebook.com/mikeferchak', 'http://facebook.com/mikeferchak'
#sun