%header.awesome_inset_shadow
  %h1.aa.shadowtext
    %span.phrase
      - "Mike's stupid internet page".split.each do |word|
        %span.word
          - word.split(//).each do |letter|
            %span.awesome_text_shadow
              = letter
          %span &nbsp;

#stuff
  %section#about
    %footer.shadowbox
      #contact.awesome_inset_shadow{:awesome_darkness => "0.1"}
        %h2 Contact
        %ul
          %li
            =link_to "Résumé", "/resume"
          %li
            = mail_to "mikeferchak+spam@gmail.com", 'mikeferchak@gmail.com'
          %li
            = link_to 'my awesome website', '.'
      #code.awesome_inset_shadow{:awesome_darkness => "0.1"}
        %h2 Code
        %ul
          %li
            = link_to 'github.com/mikeferchak', "http://github.com/mikeferchak"
      #creep.awesome_inset_shadow{:awesome_darkness => "0.1"}
        %h2 Creep
        %ul
          %li
            = link_to 'twitter.com/mikeferchak', 'http://twitter.com/mikeferchak'
          %li
            = link_to 'facebook.com/mikeferchak', 'http://facebook.com/mikeferchak'
